<app-header [pageTitle]="pageTitle"></app-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" [src]="personaje.image" />
    <ion-card-header>
      <ion-card-title>{{personaje.name}}</ion-card-title>
      <ion-card-subtitle>{{personaje.locations.name}}</ion-card-subtitle>
      <ion-card-subtitle>{{personaje.families}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title>Episodes</ion-card-title>
      <ion-list *ngFor="let e of listadoEpisodesPersonaje">
        <ion-item>
          <ion-label>
            <h3>{{e.name}}</h3>    
            <h3>{{e.air_date}}</h3>
            <h3>{{e.episode}}</h3>    
            <h3>{{e.url}}</h3>
          </ion-label>  
        </ion-item>
      </ion-list> 
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-back-outline" [routerLink]="['/rickandmorty']"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
